<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse Parking Area</title>

    <link rel="stylesheet" href="/dashboard-style.css">
    <link rel="stylesheet" href="/dashboard-logo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Scripts -->
    <link rel="shortcut icon" href="#" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
        integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../controllers/delete_reversed_parking.js"></script>
</head>
<body>
     <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/image/logo2.jpg" class="logoimage">
                </a>
            </div>

                <ul class="nav">

                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/manager-dashboard">
                        <span class="menu-icon">
                            <i class="fa-solid fa-house-user"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="/add-user" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <span class="menu-title">Add User</span>
                    </a>

                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="/DisplayUserParkingMap" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <span class="menu-title">Custom Parking Map</span>
                    </a>

                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="/manager-reversed-parking" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="fa-solid fa-parking"></i>
                        </span>
                        <span class="menu-title">Reversed Parking</span>
                    </a>
                </li>
                
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/view-update-delete-user-profile">
                        <span class="menu-icon">
                            <i class="fa-solid fa-id-badge"></i>
                        </span>
                        <span class="menu-title">User Profile</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/view-suggestions">
                        <span class="menu-icon">
                            <i class="fa-solid fa-address-book"></i>
                        </span>
                        <span class="menu-title">Suggestion</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/view-user-reserved">
                        <span class="menu-icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="menu-title">Reserved Parking Slot</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="/parking-map" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Parking Direction</span>
                    </a>

                </li>

            </ul>
            
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/userlogout">
                                <div class="navbar-profile">
                                    <i class="fa-solid fa-arrow-right-from-bracket" style="color: red;"></i>
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Logout</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <br>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h4 class="card-title mb-1">Revers Parking Area</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="preview-list">
                                                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                                                    <div class="container h-100">
                                                        <div
                                                            class="row d-flex justify-content-center align-items-center h-100">
                                                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                                                <div class="card"
                                                                    style="border-radius: 15px; background-color: white; color: black">
                                                                    <div class="card-body p-5">
                                                                        <h2 class="text-uppercase text-center mb-5">
                                                                            Reverse Parking Rate</h2>
                                                                        <form action="/auth/reverseparking" method="POST">
                                                                            {{#if message}}
                                                                            <h4 class="alert alert-success mt-12">
                                                                                {{message}}</h4>
                                                                            {{/if}}
                                                                            <div class="form-outline mb-4">
                                                                                {{!-- Select Slot --}}
                                                                                <label class="form-label"
                                                                                    for="form3Example1cg">Reverse Parking Area
                                                                                    </label>
                                                                                <input type="text" name="reverse" class="form-control form-control-lg"
                                                                                    id="reverse" list="parking_spot" />
                                                                                    <datalist id="parking_spot">
                                                                                        <option value="Parking Spot A12">
                                                                                        <option value="Parking Spot A18">
                                                                                        <option value="Parking Spot A24">
                                                                                        <option value="Parking Spot B8">
                                                                                        <option value="Parking Spot B23">
                                                                                    </datalist>
                                                                                <label class="form-label"
                                                                                    for="form3Example1cg">User Email
                                                                                    </label>
                                                                                <input type="text" name="user_email"  value= "99marafay@gmail.com" class="form-control form-control-lg"
                                                                                    id="user_email"/>
                                                                                {{!-- Select Starting Time --}}
                                                                                <label class="form-label"
                                                                                    for="form3Example1cg">Starting Time for Reversed Spot
                                                                                    </label>
                                                                                <input type="time" name="start_time" class="form-control form-control-lg"
                                                                                    id="start_time"/>
                                                                            {{!-- Select End Time --}}
                                                                                <label class="form-label"
                                                                                    for="form3Example1cg">Ending Time for Reversed Spot
                                                                                    </label>
                                                                                <input type="time" name="end_time" class="form-control form-control-lg"
                                                                                    id="end_time"/>
                                                                                
                                                                            </div>
                                                                            <div class="d-flex justify-content-center">
                                                                                <button type="submit"
                                                                                    class="btn btn-success btn-block btn-lg text-body">Reverse Parking Space</button>
                                                                            </div>
                                                                            <script src="../controllers/delete_reversed_parking.js"></script>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>